{% extends "layout.html.twig" %}

{% set navtab = 'overview' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="well">
                <h3>Testing isGranted method</h3>
                <p>isGranted('client') => % if isGranted('client') %TRUE% else %FALSE% endif %</p>
                <p>isGranted('admin') => % if isGranted('admin') %TRUE% else %FALSE% endif %</p>
            </section>
        </div>
        <div class="col-md-6">
            <section class="well">
                <h3>Hello</h3>
                <form method="post">
                    <label>email</label>
                    <input name="email" {{ setValue('email') }}>
                    {{ formError('email') }}
                    <label>ip</label>
                    <input name="ip" {{ setValue('ip') }}>
                    {{ formError('ip') }}
                    <label>nom</label>
                    <input name="nom" {{ setValue('nom') }}>
                    {{ formError('nom') }}
                    <label>nom2</label>
                    <input name="nom_deux" {{ setValue('nom_deux') }}>
                    {{ formError('nom_deux') }}
                    <button type="submit">GO</button>
                </form>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <section class="well">
                <h3>Hello</h3>
                <p>lipsum</p>
            </section>
        </div>
        <div class="col-md-8">
            <section class="well">
                <h3>Dump session var</h3>
                <pre>
					{{ dump(session) }}
				</pre>
            </section>
        </div>
    </div>
</div>
{% endblock %}