{% extends "layout.html.twig" %}

{% set navtab = 'ticket' %}

{% block content %}
<div class="container">
    <div class="row">
        <form role="form" method="post">
            <div class="col-md-9">
                <section class="well">
                    <h3><b>Nouveau ticket</b></h3>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="title"><b>Intitulé</b></label>
                            <input type="text" class="form-control" id="title" name="title" {{ setValue('title', ticket.title) }} placeholder="Nouveau ticket" />
                            {{ formError('title') }}
                        </div>
                        <div class="form-group col-md-4">
                            <label for="type"><b>Type de demande</b></label>
                            <select class="form-control" id="type" name="type" {{ setValue('type', ticket.type) }}>
                                <option value="">Choisir un type</option>
                                {% for type in types %}
                                <option value="{{ type.idTicketType }}" {{ set_select('type', type.idTicketType) }}>{{ type.label|capitalize }}</option>
                                {% endfor %}
                            </select>
                            {{ formError('type') }}
                        </div>
						{% if isGranted('admin') or isGranted('team') %}
                        <div class="form-group col-md-2">
                            <label for="level"><b>Importance</b></label>
                            <select class="form-control" id="level" name="level" {{ setValue('level') }}>
                                <option value="5">Urgent</option>
                                <option value="4">Haut</option>
                                <option value="3" selected>Normal</option>
                                <option value="2">Bas</option>
                                <option value="1">Négligeable</option>
                            </select>
                        </div>
						{% endif %}
                    </div>
                    <div class="form-group">
                        <label for="content"><b>Détail</b></label>
                        <textarea class="form-control" id="content" name="detail" rows="12" {{ setValue('detail') }}>{{ ticket.content }}</textarea>
						{{ formError('detail') }}
                    </div>
					{% if isGranted('admin') or isGranted('team') %}
                    <fielset>
                        <legend>Temporalité</legend>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="startDate">Date de debut</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="startDate" name="startDate" {{ setValue('startDate', ticket.startDate|date('d/m/y')) }} />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" id="startDateBtn"><i class="fa-calendar-o"></i></button>
                                    </span>
                                </div>
								{{ formError('startDate') }}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="deadline"><b>Date de fin</b></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="deadline" name="deadline" {{ setValue('deadline', ticket.deadline|date('d/m/y')) }}/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" id="deadlineBtn"><i class="fa-calendar-o"></i></button>
                                    </span>
                                </div>
								{{ formError('startDate') }}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="estimatedTime"><b>Temps estimé</b></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="estimatedTime" name="estimatedTime" {{ setValue('estimatedTime', ticket.estimatedTime) }} />
                                    <span class="input-group-addon">Jours</span>
                                </div>
                            </div>
                        </div>
                    </fielset>
					{% endif %}
                    <button type="submit" class="btn btn-primary">{% if isGranted('admin') or isGranted('team') %} Ajouter {% else %} Soumettre {% endif %}</button>
                </section>
            </div>
			{% if isGranted('admin') or isGranted('team') %}
            <div class="col-md-3">
                <section class="well">
                    <h3><b>Projet</b></h3>
                    <label for="type"><b>Projet associé</b></label>
                    <select class="form-control" id="type" name="idProjet" {{ setValue('idProjet') }}>
                        <option value="">Choisir un projet</option>
						{% for projet in projets %}
                        <option value="{{ projet.idProject }}" {{ set_select('idProjet', projet.idProject) }}>{{ projet.name|capitalize }}</option>
						{% endfor %}
                    </select>
					{{ formError('idProjet') }}
                </section>

                <section class="well">
                    <h3><b>Equipe</b></h3>
                    <div class="form-group">
                        <label for="exampleInputPassword1"><b>Assigné à</b></label>
                        <select class="form-control" id="exampleInputPassword1" name="assignedTo" {{ setValue('assignedTo') }}>
                            <option value="">Choisir un membre d'équipe</option>
							{% for teamMember in teams %}
                            <option value="{{ teamMember.idUser }}" {{ set_select('assignedTo', teamMember.idUser) }}>{{ [teamMember.lastname|capitalize, teamMember.firstname|capitalize]|join(' ') }}</option>
							{% endfor %}
                        </select>
						{{ formError('assignedTo') }}
                    </div>
                </section>
                <section class="well">	
                    <h3><b> Status :</b></h3>
                    <select class="form-control" id="statusCange" name="statusCange">
                        <option value="">Choisir un status</option>
                        <option selected="selected" value="1">Nouveau</option>
                        <option value="2">Résolu</option>
                        <option value="3">Invalide</option>
                        <option value="4">Non pris en compte</option>
                        <option value="5">Existe déjà</option>
                        <option value="6">Fonctionnel</option>
                        <option value="7">Ne peut être résolu</option>
                    </select>
                </section>
            </div>
			{% endif %}
        </form>
    </div>
</div>
{% endblock %}