
{% extends "layout.html.twig" %}
{% block title %}Gestion des projets{% endblock %}
{% set navtab = 'projects' %}

{% block content %}
<div class="container">
    <div class="col-md-9">
        <section class="well">
            <h3>Projets</h3>

            {% if projects %}
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <tr>
                        <th width="20"><input type="checkbox" disabled="true"></th>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Date de création</th>
                        <th>Echéance</th>
                        <th>Societé</th>
                    </tr>
                {% for project in projects %}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>{{ project.idProject }}</td>
                        <td>{{project.name }}</td>
                        <td>{{project.createDate}}</td>
                        <td>{{project.deadline }}</td>
                          <td><a href="{{ domain() }}company/{{ project.company }}/show">{{ project.company }}</a></td>
                        <td align="right">
                            <a href="{{ domain() }}projects/{{ project.idProject }}/show"><i class="fa-eye"></i></a>
                            <a href="{{ domain() }}projects/{{ project.idProject }}/edit"><i class="fa-edit"></i></a>
                            <a href="{{ domain() }}projects/{{ project.idProject }}/delete"><i class="fa-times"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            {% else %}
            <div class="alert alert-warning">Aucun projets</div>
            {% endif %}
        </section>
    </div>
    <div class="col-md-3">
        <a class="btn btn-lg btn-block btn-primary" href="{{ domain() }}projects/add"><i class="fa-plus"></i>&nbsp;Nouveau projet</a>
    </div>
</div>
{% endblock %}